body{
	margin:0%;
	text-align: center;
	font-family: sans-serif;
}

h1{
	margin: 0%;
	padding: 10px;
}

.cloud-img{
	height: 80px;
	padding: 10px;
}

.mountain-img{
	height: 380px;
}

.boy-img
{
	height: 250px;
	padding-top: 2px;
}

.top-container{
	background-color:  #EAFDFC;
	height: 600px;
}

.middle-container{
	background-color:#BFEAF5;
	margin: 0%;
	padding: 4%;
	height: 1100px;
}

.bottom-container{
	background-color: white;
	height: 120px;
	padding: 4%;
}

.icon-img{
	height: 100px;
	width: 100px;
	margin: 30px 30px 10px 10px;
}

.ux-img{
	height: 150px;
}

.backend-img{
	height: 150px;
}

.skills{
	padding: 2px;
	margin: 0%;
}

.skill-row{
	width: 40%;
	margin: 80px auto 80px auto;
	text-align: auto;
	line-height: 2; 
}

.btn{
	background-color: white;
	border-radius: 30px;
	padding: 20px;
	text-decoration: none;
}